*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Header */

.header{
    background-image: url("../img/jumbo.png");
    height: 100vh;
    position: relative;
    color: white;
}
.header__nav-bar{
    padding-top: 10px;
    text-align: center;
}

.header__logo{
    vertical-align: middle;
    margin-right: 250px;
}
a{
    text-decoration: none;
}

.list-item{
    display: inline-block;
}
.header__button{
    display: inline-block;
    text-align: right;
    margin-left: 250px;
    font-size:  15px;
    padding: 10px 40px;
    margin: 5px;
    border-radius: 25px;
    border: none;
}

.nav-bar-button{
    display: inline-block;
    text-align: right;
    margin-left: 250px;
    font-size:  15px;
    padding: 10px;
    border-radius: 25px;
}



.header__un-list{
    display: inline-block;
    text-align: center;
}

.header__link{
    text-decoration: none;
    color: white;
    padding: 10px;
}



.header__hero-paragraph{
    display: inline-block;
    padding: 30px;
    
}

.header__hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:300px;
    width: 600px;
    text-align: center;
}


.button-black{
    background-color: black;
    color: white;
}

.header__button-button-black-link
{
    color: white;
}


/* Main */

.container{
    margin-top: 100px;
}

.container__row-1, .container__row-2, .container__row-3, .container__row-4  {
    height: 100vh;
}

.container__row-2{
    background-color: lightgray;
}

.text-row-1, .text-row-2, .text-row-3{
    width: 200px;
    font-size: large;
    margin: 50px;
} 

.text-row-1{
    margin: 100px;
    float: right;   
}

.container__row-1-image{
    margin: 100px;
    float: left;
}


.text-row-2{
    margin: 100px;
   float: left;  
     
}

.container__row-2-image{
    margin: 100px;
    float: right;
}

.text-row-3{
    margin: 100px;
    float: right;
      
}

.container__row-3-image{
    margin: 100px;
    float: left;
    
}


.text-row-4{
   
    
    text-align: center; 
    width: 800px; 
    margin:auto;
     
}

.container__row-4-image{
   text-align: center;
}

.container__row-4-tail{
    text-align: center;
}

.container__row-4-button{
    font-size:  15px;
    padding: 10px 40px;
    margin: 5px;
    border-radius: 25px;
    border: none;
    background-color: lightskyblue;
    color: white;
}

/* Footer */

.footer{
    background-color: rgb(48, 48, 41);
    text-align: center;
}
ul{
    display: inline-block;
    margin: 50px;
}

.footer__title{
    display: inline-block;
    color: white;
    line-height: 60px;
    font-size: 20px;
}


.footer__title-flag{
    width: 25px;
    
}

ul{
    list-style: none;
}

.footer__un-list-link{
    text-decoration: none; 
    color: white; 
}

.footer__tail{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 20px;
    
}

.footer__tail-logo{
   float: left;
   margin-left: 50px;
}

.footer__tail-button{
    float: right;
    margin-right: 50px;
    font-size:  10px;
    padding: 10px 40px;
    border-radius: 25px;
    border: none;
    background-color:  lightskyblue;
    color: white;
}

i[class^="fab"]{
    padding: 10px;
}





